[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gevent = "==1.2.2"
greenlet = "==0.4.12"
pykbart = "==0.1.0a1"
requests = "==2.9.1"
unicodecsv = "==0.14.1"


[dev-packages]



[requires]

python_version = "3.6"
